@import url(./_active/header__lang-link_active.css);

.header__lang-link {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 1.3;
    font-size: 18px;
    font-weight: normal;
    margin-left: 18px;
}

@media (min-width: 768px) {
    .header__lang-link {
        font-size: 24px;
        line-height: 1.2;
    }
}