.cover__subtitle {
    opacity: 1;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.15;
    max-width: 360px;
    padding-top: 16px;
    margin: 0;
    z-index: 2;
}

@media (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 1.2;
        padding-top: 32px;
    }
}