.header__logo {
    background-image: url('../images/header-logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 142px;
    height: 42px;
}