@import url('./__header/place__header.css');
@import url('./__main-content/place__main-content.css');
@import url('./__title/place__title.css');
@import url('./__image/place__image.css');
@import url('./__main-text/place__main-text.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__website/place__website.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__link/place__link.css');

.place {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 48px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .place {
        padding-top: 72px;
    }  
}