.place__website {
    display: none
}

@media (min-width: 768px) {
    .place__website {
        display: inline;
        padding-left: 28px;
    }
}

@media (min-width: 1024px) {
    .place__website {
        padding-left: 32px;
    }
}

@media (min-width: 1280px) {
    .place__website {
        padding-left: 40px;
    }
}